body{
  background: yellow;
  margin: 0px;
  padding: 0px;
}

div{
  background-position: 400px;
  background-repeat: no-repeat;
}

#boton{
border-radius: 50px;
background: none;
background-color: #34495E;
text-align: center;
line-height:200px;
font-size: 22px;
font-family: sans-serif;
right: 50px;
bottom: 50px;
font-weight: bold;
float: right;
position: fixed;
}
h1{
  font-family: helvetica,sans-serif;
  width: 375px;
  margin-left: 25px;
  text-align: center;
  margin-top: 0px;
}
p{
  font-size: 18px;
  font-family: helvetica,sans-serif;
  line-height: 22px;
  width: 375px;
  margin-left: 25px;
}

ul{
  text-align: right;
  margin-top: 0;
}

li{
  text-decoration: none;
  display: inline-block;
  margin: 20px;
}
a:link{
  text-decoration: none;
}
a:visited{
  color: #0A2E51;
}
a:active{
  color: #E53C3C;
}
a:hover{
  opacity: 50%;
}

#cabecera{
height: 40px;
background-color: white;
background-image: url(img/feedlylogo.png);
background-position: 5px;

}

#coneix{
  height: 550px;
  background-color:#6C3;
  background-image: url(img/dispositivos.png);
}

#tot{
  height: 641px;
  background-color: white;
  background-image: url(img/alinone.jpg);
}

#util{
  height: 500px;
  background-color: #333333;
  background-image: url(img/curatorshort.png);
}

#ràpid{
  height: 550px;
  background-color: #EEECEE;
  background-image: url(img/dispositivos.png);
  background-repeat: no-repeat;
}

#fàcil{
  height: 550px;
  background-color: #6C3;
  background-image: url(img/mobileshare.png);
  background-repeat: no-repeat;
}

#arreu{
  height: 643px;
  background-color: white;
  background-image: url(img/anywhere.png);
}

#final{
  height: 200px;
  background-color: #333333;
  background-repeat: no-repeat;
}
