*{
  margin:0;
  padding: 0;
}
body{
font-family: 'Fira Sans Condensed', sans-serif;
font-weight: 400;
}
.clear{
  clear:both;
}
/* Menú normal (desktop) */
.normal{
background-color: yellow;
width:100%;
}
.normal ul{
  list-style-type: none;
}
.normal ul li a{
  text-decoration:none;
  padding-top:20px;
  padding-bottom:20px;
  display:block;
  float:left;
  width:25%;
  text-align: center;
  color:black;
  background-color: silver;
}
.normal ul li a:hover{
  color:silver;
  background-color: black;
}

/* Menú mobile (movil) */
.mobile ul{
  display: none;
}

input:checked  ~ ul{
  display:block;
}

input {
  display: none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  margin:20px;
}

label:hover{
  background: grey;
}

input:checked ~ label {
  background: lightgrey;
}

.mobile ul{
  margin-top:0;
  padding: 0;
  width: 200px;


}


.mobile ul li {
  display: block;
  background: lightgrey;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;

}
.mobile ul li:hover {
  filter: brightness(110%);
}

h1{
  font-family: 'Bangers', cursive;
  font-weight: 400;
  font-size: 70px;
}
.mobile{
    display:none;
}

.slider_imagenes{
width: 1000px;
height: 500px;
overflow: hidden;
margin: auto;
}

.slider_imagenes ul{
  padding: 0;
  display: flex;
  width: 400%;
  animation: cambio 20s infinite;
}

.slider_imagenes li{
  list-style: none;
  width: 100%;
}

.slider_imagenes img{
  width: 100%;
}



@keyframes cambio{
  0%{margin-left: 0%;}
  20%{margin-left: 0%;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -200%;}
  100%{margin-left: -200%;}
}

@media only screen and (max-width: 450px) {
  body {
    background-color: #C1C1C1;
  }
  .normal{
    display:none;
  }
  .mobile{
      display:block;
      color: black;
  }
}
